.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.page-header__logo-link {
    font-family: "Segoe UI";
    font-size: 38.6px;
    color: @bg-color;
}