.promo {
    background-color: @bg-color-green;
    width: 100%;
    height: 900px;
    background-position: -42px 25px;
    box-sizing: border-box;
    color: @bg-color;
}

.promo__content {
    position: relative;
    left: 1px;
}

.promo__content-logo {
    position: absolute;
    top: -218px;
    left: -49px;
}

.promo__title {
    margin-top: 374px;
    font-size: 64px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 2.5px;
    margin-bottom: 26px;
}

.promo__text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.69px;
}

.promo__logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 297px;
    flex-wrap: nowrap;
    margin-top: 55px;
    margin-left: 3px;
}

.promo__content-img {
    position: absolute;
    top: -412px;
    left: -373px;
    z-index: 2;
}

/* Параллакс-блоки */

.promo__parallax {
    position: absolute;
}

.promo__parallax--apple {
    width: 325px;
    height: 426px;
    background-image: url("../img/section-1/apple.png");
    background-repeat: no-repeat;
    top: -290px;
    left: -560px;
}

.promo__parallax--banana {
    width: 234px;
    height: 192px;
    background-image: url("../img/section-1/banana.png");
    background-repeat: no-repeat;
    top: -345px;
    left: 335px;
}

.promo__parallax--strawberry {
    width: 325px;
    height: 426px;
    background-image: url("../img/section-1/strawberry.png");
    background-repeat: no-repeat;
    top: 775px;
    left: 815px;
}

.promo__parallax--tomato {
    width: 325px;
    height: 426px;
    background-image: url("../img/section-1/tomato.png");
    background-repeat: no-repeat;
    top: -197px;
    right: -450px;
}

.promo__parallax--lilApple {
    width: 325px;
    height: 426px;
    background-image: url("../img/section-1/lilApple.png");
    background-repeat: no-repeat;
    top: 190px;
    right: -285px;
}